@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lato:wght@700;900&display=swap');

html, body {
    height: 100%;
}

body {
    background-color: #0f0b24;
    display: grid;
    place-content: center;
}

p {
    font-family: 'DM Sans';
    font-weight: 400;
}

h1, h2 {
    font-family: 'Lato';
    font-weight: 700;
    color: #0f0b24;
}

h2 {
    font-family: 'DM Sans';
}

img {
    border-radius: 10px;
    box-shadow: black 0.5px 1px 12px;
}

.container {
    background-color: lavender;
    border-radius: 10px;
}

